/* You can add global styles to this file, and also import other style files */

.vertical-center {
  min-height: 30%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 30vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.movie_item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
}
